{% extends 'base.html.twig' %}

{% block title %}Hello StandarController!{% endblock %}

{% block body %}
        
        {#esto es un comentario en Twig#}
        {% set miVariable = 'Hola Mundo' %}
        {{ miVariable }}<br>
        {{ resultadoSum }}
        <br>
        
        {% if num1 > num2 %}
            Numero 1 es mayor 
            {% else %}
                Numero 2 es mayor
        {% endif %}    
            
        <br>
        {{ nombres | upper}}
        <br>
        
        {% set arrayNombres = nombres | split(',') %}
        {% for nombre in arrayNombres %}
            * {{ nombre }}<br>
        {% endfor %}
        <br>
        
        <a href = "{{ path('pagina2', {'nombre':'Juan David Beca'}) }}"> ir a pagina 2 </a>
{% endblock %}
